* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* style the header */
.header {
  padding: 60px;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 30px;
}

/* style h2 */
.h2 {
  font-family: acier-bat-solid;
  float:left;
  flex-grow: 1;
  padding: 10px;
  writing-mode:vertical-rl;
  text-orientation:sideways;
  transform: rotate(-180deg);
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    font-family: acier-bat-solid;
    display:inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 37%;
    margin-right: -37%;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the about */
.about {
    font-family: forma-djr-micro;
    overflow: hidden;
    float:left;
    width: 100%;
    background-color: #FFEEE6;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the work */
.work {
    font-family: forma-djr-micro;
    overflow: hidden;
    float:left;
    width: 100%;
    background-color: #3F3838;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the resume */
.resume {
    font-family: forma-djr-micro;
    overflow: hidden;
    float:left;
    width: 100%;
    background-color: #E8CBC5;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the contact */
.contact {
    font-family: forma-djr-micro;
    overflow: hidden;
    float:left;
    width: 100%;
    background-color: #FFEEE6;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
}


/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
}
